.registro-container {
    width: 90%;
    margin: 100px auto;
    padding: 20px;
    background: var(--primary-color);
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  h2 {
    font-size: 2.5rem!important;  /* Aumenta el tamaño */
    font-weight: 800;   /* Lo hace más grueso */
    margin-bottom: 30px!important;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  label {
    font-weight: bold;
    text-align: left;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--dark-color)!important;
    border-radius: 5px;
    font-size: 16px;
  }
  
  

  
  .btn-success {
    width: 100%;
    height: 45px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: none!important;
    background: var(--mega-dark-color)!important;
    color: var(--text-color-light);
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
  }
  
  .btn-success:hover {
    background: var(--accent-color)!important;
  }
  
  .password-strength {
    margin-top: 10px;
    width: 100%; /* Que la barra ocupe todo el ancho disponible */
    height: 100%;
    background-color: var(--gray-color); /* Un gris claro de fondo */
    border-radius: 6px;
    overflow: hidden; /* Para que la barra no sobresalga */
}

.strength-bar {
    height: 10px!important;
    width: 0%; /* Empieza vacía */
    border-radius: 5px;
    transition: width 1.5s ease-in-out;
}


p{
  margin-bottom: 0!important;
}

a{
  text-decoration: none!important;
  color: var(--text-color)!important;
  font-weight: 600;
}

a:hover {
  text-decoration: underline!important;
}

.message-text {
  width: 100%;
  font-size: 14px; /* Tamaño adecuado para mensajes */
  font-weight: 600; /* Un poco más grueso para mejor lectura */
  color:var(--accent-background-color-l); /* Rojo suave para mensajes de error */
  padding: 10px 15px; /* Espaciado interno para mejor apariencia */
  border-radius: 5px; /* Bordes redondeados */
  border: 2px solid var(--mega-dark-color); /* Borde rojo para destacar */
  display: inline-block; /* Que no ocupe todo el ancho */
  margin-bottom:15px!important; /* Separación del contenido superior */
  transition: all 0.3s ease-in-out; /* Efecto suave de aparición */
}
