/* Contenedor principal de la tarjeta */
.user-card {
    max-width: 100%!important;
    width: auto;
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 15px!important;
    border: 1px solid var(--class-border-separator-color);
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}


/* Imagen del usuario */
.user-card-image {
    width: 100px;
    height: 100px;
    border-radius: 10px; /* Hace que la imagen sea circular */
    object-fit: cover;
    background-color: var(--class-background-color);
    border: 2px solid var(--class-border-separator-color);
}

/* Contenedor de la información del usuario */
.user-card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1; /* Permite que la información ocupe el espacio restante */
}

/* Nombre del usuario */
.user-card-name {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    color: var(--class-text-color);
}

/* Correo del usuario */
.user-card-email {
    font-size: 16px;
    color: var(--class-text-color-secondary);
    margin: 5px 0;
}

/* Contraseña simulada */
.user-card-password {
    font-size: 16px;
    color: var(--class-text-color-secondary);
    font-family: 'Courier New', Courier, monospace; /* Fuente monoespaciada para simular una contraseña */
}

.edit-btn-top-t{
    position: absolute!important;
    right: 6px;
    top: 6px;
    width: 20px;
    height: 20px;
}

.edit-btn-top-t svg{
    
    width: 14px!important;
    height: 14px!important;
}

@media (max-width: 568px) {
    .user-card {
    width: 100%;
}


    .mini-user-card-svg-container {
        width: 25px;
        height: 25px;
        
    }
    
    .mini-user-card-svg-container svg{
        stroke: var(--class-accent-color);
        fill: none;
        width: 15px;
        height: 15px;
    }

  }