.sidebar {
  backdrop-filter: blur(35px)!important;  
  position: fixed;
  top: 0;
  left: -250px; 
  width: 250px;
  height: 100vh; 
  transition: left 0.3s ease;
  z-index: 1000;
  border-right: solid 3px var(--class-border-separator-color); 
  overflow-y: auto; 
  overflow-x: hidden; 
  scrollbar-width: none; 
}

.sidebar::-webkit-scrollbar {
  display: none; 
}

.menu-toggle {
  position: fixed; 
  top: 110px; 
  left: 0; 
  width: 15px; 
  height: 40px; 
  background-color: var(--class-border-separator-color); 
  border: none; 
  cursor: pointer; 
  display: flex; 
  align-items: center;
  justify-content: center;
  z-index: 1100; 
  transition: left 0.3s ease; 
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.sidebar.open + .menu-toggle {
  left: 250px; 
}

.sidebar:not(.open) + .menu-toggle {
  left: 0; 
}
  
.sidebar.open {
  left: 0; 
}
  
.menu-options .active span{
  font-size: 16px;
  color: var(--class-text-color);
}

.menu-options .active svg{
  stroke: var(--class-text-color)!important;
}

.menu-options svg{
  stroke: var(--class-text-disabled-color)!important;
}


.menu-options svg{
  color: var(--class-text-disabled-color)!important;
  transition: all 0.1s ease; 
}
  
.menu-options {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.menu-options li{
    display: flex;
    align-items: center;
    padding: 15px 20px;
    cursor: pointer;
    justify-content: space-between;
}

.menu-options li a{
    text-decoration: none!important;
    
}

.menu-options li:hover span {
  color: var(--class-text-color); 
}

.menu-options li:hover svg {
  stroke: var(--class-text-color)!important; 
}
  
.menu-options li svg {
    margin-right: 10px;
}
  
.menu-options li span {
    font-size: 16px;
    color: var(--class-text-disabled-color);
}

.menu-options li button {
    background: none;
    border: none;
    display: flex; 
    font-weight: bold;
    align-items: center; 
    justify-content: flex-start; 
    text-align: left; 
    padding: 10px; 
    text-decoration: none; 
    color: var(--text-color); 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}


.menu-options li button svg {
    margin-right: 10px; 
}

  .menu-header{
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  #nav-logo{
    width: 70px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

 #nav-text-header {
  color: var(--class-text-color) !important;
  text-align: center;
  font-size: 35px !important;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  margin-left: 20px;
  margin-right: 20px;
}

  .sidebar a {
    display: flex; 
    align-items: center; 
    justify-content: flex-start; 
    text-align: left; 
    padding: 10px; 
    text-decoration: none; 
    color: var(--text-color); 
    transition: background-color 0.3s ease; 
}

.guali-click-container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 80%;
  margin: auto;
  background: linear-gradient(to bottom, var(--class-disabled-button-color), var(--class-background-color)); 
  border-radius: 20px; 
  padding: 20px; 
  margin-top: 10px;
}

.guali-click-container h3{
  color: var(--class-text-color);
  font-size: 35px;
  font-weight: bold;
  font-style: italic;
  margin: 0;
}

.guali-click-container h4{
  color: var(--class-accent-color);
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
}


.accion-btn{
  background-color: var(--class-button-color);
  color: var(--class-text-color-h);
  font-size: 20px;
  font-weight: bold;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  transition: all 0.2s ease;
}

.accion-btn:hover{
  background-color: var(--class-accent-color);

}

#logout-button:hover span,
#logout-button:hover svg {
  color: var(--class-red-color) !important;            
  stroke: var(--class-red-color) !important;      
}


.fecha-container {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 15px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  font-size: 15px;
  z-index: 500;
}
.fecha-texto{
  font-size: 16px;
  color: var(--class-text-color)!important;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

@media (max-width: 750px) {
  .fecha-container {
    display: none;
  }
}