/* General styles */
.page-container {
background-color: var(--background-color);
}

.profile-container{
    min-width: 100%!important;
    display: flex;
    flex-direction: column;
}

.profile-container h2{
    color: var(--class-text-color)!important;
}

.all-break a {
  display: inline-block; /* O block si prefieres ocupar toda la línea */
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}


.photo-name-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
    margin-bottom: 20px;
}

/* Profile card */
.profile-card {
max-width: none!important;
}

/* Profile photo section */
.profile-photo-section {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.mini-vertical-separator {
    width: 2px;
    height: 120px;
    background-color: var(--class-border-separator-color);
    margin: 0 40px;
}

.profile-photo {
    width: 120px;
        height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
}

.sub-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.photo-buttons {
    display: flex;
    flex-direction:column;
    justify-content:space-between;
}

.photo-buttons .btn {
    font-size: 14px;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background: var(--mega-dark-color);
    color: var(--text-color-light);
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.photo-buttons #btn {
    margin-top: auto!important;
}

.photo-buttons .btn:hover {
    background: var(--accent-color);
}

/* Profile fields */
.profile-field {
    width: 200px;

}

.profile-field label {
    display: block;
    font-weight: 800;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: left;
}

.profile-field p {
    width: 220px; /* Puedes ajustar el ancho según lo necesites */
    margin: 0;
    margin-bottom: 9px!important;
    padding: 7px 14px; /* Padding para que el texto no toque los bordes */
    border: 1px solid var(--gray-color); /* Borde suave, como un input */
    border-radius: 5px; /* Bordes redondeados */
    color: var(--text-color); /* Color de texto */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho */
    outline: none; /* Elimina el borde de enfoque predeterminado */
    overflow: hidden;
    white-space: nowrap; /* Evita el salto de línea */
    text-overflow: ellipsis; /* Agrega "..." si el texto es muy largo */
}

.nameFiledContainer{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: auto;
    height: auto;
}

.crud-Courseimg-container-text-profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
    margin-top: 9px;
}


.profile-field input {
    width: 220px; /* Puedes ajustar el ancho según lo necesites */
    margin: 0;
    padding: 7px 14px; /* Padding para que el texto no toque los bordes */
    border: 1px solid var(--gray-color); /* Borde suave, como un input */
    border-radius: 5px; /* Bordes redondeados */
    color: var(--text-color); /* Color de texto */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho */
    outline: none; /* Elimina el borde de enfoque predeterminado */
    overflow: hidden;

}


.edit-btn{
    font-size: 14px;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background: var(--mega-dark-color);
    color: var(--text-color-light);
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.edit-btn:hover{
    
    background:var(--accent-color) ;
}
.save-btn{
    font-size: 14px;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background: var(--save-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cancel-btn{
    font-size: 14px;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background: var(--cancel-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Protected section */
.protected-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}
.protected-section label {
    display: block;
    font-weight: 800;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: left;
}

.protected-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.protected-section p {
    width: 220px;
    margin: 0;
    margin-bottom: 9px !important;
    padding: 7px 14px;
    border: 1px solid var(--gray-color);
    border-radius: 5px;
    color: var(--text-color);
    box-sizing: border-box;
    outline: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.crud-Courseimg-container-text-profile button:disabled {
    background-color: #ccc;
    color: #666;
    border: 1px solid #aaa;
    cursor: not-allowed !important;
    opacity: 0.6;
    pointer-events: none;
    transition: background-color 0.3s ease;
}


.protected-section input {
    width: 100%; /* Puedes ajustar el ancho según lo necesites */
    margin: 0;
    padding: 7px 14px; /* Padding para que el texto no toque los bordes */
    border: 1px solid var(--gray-color); /* Borde suave, como un input */
    border-radius: 5px; /* Bordes redondeados */
    color: var(--text-color); /* Color de texto */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho */
    outline: none; /* Elimina el borde de enfoque predeterminado */
    text-align: left;
}

#info  {
    padding: 0;
    width: auto;
    border: none;
    color: var(--text-color); /* Color de texto */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho */
    outline: none; /* Elimina el borde de enfoque predeterminado */
    text-align: left;
    white-space: normal;     /* Permite que el texto salte de línea */
    word-wrap: break-word;   /* Rompe palabras largas si es necesario */
}

#mail-sender{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.send-code-btn {
     background-color: var(--class-accent-color-background) !important;
    width: 100%;
    height: 30px;
    border-radius: 50px;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
}

.send-code-btn svg{
    fill: var(--class-accent-color);
}

.verify-btn{
        width: 40px;
    height: 40px;
    background-color: var(--class-green-color-background);
    border-radius: 50%;
    border: none !important;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0;
    display: flex
;
    justify-content: center;
    align-items: center;
}

.verify-btn svg{
fill: var(--class-green-color);
}

.btn-container{
    display: flex;
    justify-content: space-between;
}




/* Password strength bar */
.password-strength {
    margin-top: 10px;
    width:100%;
    height: 10px;
}
#strLevel{
    border: none;
    padding: 0;
    margin: 0;
    padding-top:5px ;
}

.strength-bar {
    height: 8px;
    border-radius: 5px;
    background-color: #ddd;
    transition: width 0.3s ease;
}

.strength-bar[data-strength="Débil"] {
    background-color: red;
}

.strength-bar[data-strength="Media"] {
    background-color: orange;
}

.strength-bar[data-strength="Fuerte"] {
    background-color: green;
}

/* Logout and delete account buttons */
#logout-closeAccoint-container {
    width: 45%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.fake-group{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
}

#logout-closeAccoint-container .btn {
    font-size: 14px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#logout-closeAccoint-container .btn:first-child {
    background-color: #ffc107;
    color: #fff;
}

#logout-closeAccoint-container .btn:first-child:hover {
    background-color: #e0a800;
}

#logout-closeAccoint-container .btn:last-child {
    background-color: #dc3545;
    color: #fff;
}

#logout-closeAccoint-container .btn:last-child:hover {
    background-color: #c82333;
}

.logOut {
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de texto */
    font-weight: 600; /* Texto más destacado */
    background-color: var(--background-color);
    border: solid 1px var(--gray-color)!important; /* Rojo suave para indicar una acción de cierre */
    color: var(--text-color); /* Color del texto */
    border: none; /* Eliminar el borde predeterminado */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Animaciones suaves */
    outline: none; /* Elimina el borde al hacer clic */
}

.logOut:hover {
   color: var(--accent-background-color-l);
}

.deleteAccount {
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de texto */
    font-weight: 600; /* Texto más destacado */
    background: var(--accent-color-dark); /* Color de fondo usando tu color de acento */
    color: var(--text-color-light); /* Texto en color claro para contraste */
    border: none; /* Borde usando el color del texto principal */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Animaciones suaves */
    outline: none; /* Elimina el borde al hacer clic */
    display: flex;
    justify-content: center;
    align-items: center;
}

.deleteAccount:hover {
    transform: scale(1.02); /* Efecto de aumento suave */
}

#goback{
    width: 30%;
    font-size: 14px;
    padding: 8px 12px;
    border: none;
    border-radius: 50%;
    opacity: 0.8;
    background: var(--cancel-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 50px;
    height: 50px;
}





/* Responsive design */
@media (min-width: 768px) {
    .profile-card {
        max-width: 600px;
    }

    h1 {
        font-size: 28px;
    }

    

    .photo-buttons .btn {
        font-size: 16px;
    }

    .profile-field input {
        font-size: 16px;
    }

    .profile-field .btn {
        font-size: 16px;
    }

    .protected-section h2 {
        font-size: 20px;
    }
}

@media (max-width: 850px) {
  .mini-vertical-separator-dos {
    display: none;
}

.sub-info {

    flex-direction: column;
align-items: flex-start; 
}

.subscription-status {
width: 100%!important;
}

#logout-closeAccoint-container {
width: 100%;
justify-content: space-between;
flex-direction: column;
gap: 30px;
}
.fake-group {
    width: 100%;
    justify-content: space-between;

   
}

.lbl{
    width: 40%;
}


}
