

#order-completed-message{
    color: var(--success-color);
    
    text-align: center;
}

#order-completed-container{
    margin-top: 200px!important;
}

.question{
    margin-top: 50px;
    text-align: center;
    font-size: large;
    font-weight: 600;
}

.normal-text{
    width: 90%;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}

.black-btn {
    width: 36px;
    height: 36px;
    font-size: 16px; /* Tamaño de texto */
    font-weight: 600; /* Texto más destacado */
    background: var(--class-button-color); /* Color de fondo usando tu color de acento */
    color: var(--text-color-light); /* Texto en color claro para contraste */
    border: none; /* Borde usando el color del texto principal */
    border-radius: 50%; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Animaciones suaves */
    outline: none; /* Elimina el borde al hacer clic */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10px;
}