.subscription-status {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.subscription-status p {
    font-size: 16px;
    margin-bottom: 20px!important;
}

.subscription-status ul {
    margin: 10px 0;
    padding-left: 20px;
}

.subscription-status li {
    margin-bottom: 5px;
}

.subscription-status .btn {
    margin-top: 10px;
}
label {
    display: block;
    font-weight: 800;
    margin-bottom: 20px;
    font-size: 16px;
    
}
#estado {
    width: 100%; /* Puedes ajustar el ancho según lo necesites */
    margin: 0;
    padding: 7px 14px; /* Padding para que el texto no toque los bordes */
    border: 1px solid var(--gray-color); /* Borde suave, como un input */
    border-radius: 5px; /* Bordes redondeados */
    color: var(--text-color); /* Color de texto */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho */
    outline: none; /* Elimina el borde de enfoque predeterminado */
}
.text{
    margin-top:20px!important;
    width: 100%;
}
.redirect-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 14px;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background: var(--accent-color);
    color: var(--text-color);
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.renovar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 14px;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background: var(--accent-color);
    color: var(--text-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 800;
}

.degradeAccount {
    width: 100%;
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de texto */
    font-weight: 600; /* Texto más destacado */
    background: var(--accent-color-dark); /* Color de fondo usando tu color de acento */
    color: var(--text-color-light); /* Texto en color claro para contraste */
    border: none; /* Borde usando el color del texto principal */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Animaciones suaves */
    outline: none; /* Elimina el borde al hacer clic */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
