.class-undone-task {
    max-width: 100%!important;
    border-radius: 8px;
    background-color: var(--class-background-color);
    display:flex;
    gap: 15px;
    cursor: pointer;
}

.class-undone-task h3 {
    margin: 0;
    font-size: 18px;
    color: var(--class-text-color);

}

.class-undone-task p {
    font-size: 14px;
    color: var(--class-text-grey-color);
}

.class-undone-task span {
    font-size: 12px;
    color: var(--class-text-disabled-color);
}

.subheader-action-container{
    width: 100%;
    display: flex;
    justify-content: row;
    
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 568px) {
    .class-undone-task {
        width: 100%;
      
    }
  }