:root {
  --background-color: #FAFAF5;
  --primary-color: #ffffff;
  --accent-color: linear-gradient(135deg, #ff7e5f, #feb47b);
  --accent-background-color-h:#feb47b;
  --accent-background-color-l:#ff7e5f;
  --text-color: #1d1d1d;
  --text-color-light: #FAFAF5;
  --primary-font: 'NormalText', serif;
  --title-font: 'Title', serif;
  --dark-color: rgb(112, 110, 110);
  --mega-dark-color: black ;
  --gray-color:rgb(206, 206, 206) ;
  --save-color:#f78062;
  --cancel-color:rgb(70, 67, 67);
  --accent-color-dark: linear-gradient(135deg, #000000, #feb47b);
  --success-color:#8FD14F;

  /* Colores primarios para las classrooms y dashboards*/

  --class-background-color: #F0F4FF;
  --class-accent-color:#f78062;
  --class-accent-color-background:#f78062a4;
  --class-text-color:black;
  --class-text-disabled-color:#727272;
  --class-text-grey-color:#A8A8A8;
  --class-button-color:#2C2C2C;
  --class-disabled-button-color:#2c2c2c23;
  --class-green-color:#8BDD6D;
  --class-green-color-background:#8bdd6d7a;
  --class-red-color:#D32124;
  --class-green-color-background:#ff000050;

}

@font-face {
  font-family: 'NormalText';
  src: url('/public/assets/fonts/Inter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Title';
  src: url('/public/assets/fonts/Title.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html{
  background-color: var(--background-color);
}

body {
  font-family: var(--primary-font)!important;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}
#root{
  background: var(--background-color);
}

h1, h2, h3 {
  font-family: var(--title-font);
}

.separator {
  width: 100%; /* Ocupa el 90% del ancho del contenedor */
  height: 1px; /* Una línea delgada */
  background-color: var(--gray-color); /* Color gris suave para el separador */
  margin: 20px auto; /* Centrado con un margen arriba y abajo */
}

.page-container{
  min-height: 100vh;
}