.course-dropdown {
    width: auto;
    padding: 8px;
    font-size: 16px;
    border: 2px solid var(--class-border-color);
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: var(--class-background-color);
    color: var(--class-text-color);
    outline: none;
    cursor: pointer;
    padding-right: 40px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-image: url('/public/assets/svg/Dropdown.svg');
    background-repeat: no-repeat;
    background-position: right 10px center; 
    background-size: 23px; 
}

.course-dropdown::-ms-expand {
    display: none; 
}

.course-dropdown {
    font-weight: bold;
}

.options-container-edit-course{
    display: flex;
    flex-direction: column;
}

.editCourse-h3{
    margin-top: 20px;
}

.editOptions-container{
    display: flex;
    width: 48%;
    flex-direction: column;
    
}

.editOptions-container-dos{
    display: flex;
    width: 100%;
    flex-direction: column;
    
}



.vertical-separator {
    width: 2px;/* Ocupa el 90% del ancho del contenedor */
    height: auto; /* Una línea delgada */
    background: var(--class-border-separator-color); /* Color gris suave para el separador */
    margin: 0px auto; /* Centrado con un margen arriba y abajo */
}

.courseEdit-wrapper{
width: 100%;
height: auto;
display: flex;
min-height: 500px;
}

.tab-button {
    max-width: 20%;
    height: 40px;
    background-color: var(--class-disabled-button-color); /* Cambia el fondo al color del texto */
    color: var(--class-button-color); /* Cambia el texto al color del fondo */
   
    font-size: 15px;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-button:hover {
    background-color: var(--class-button-color-hover);
}

.tab-button.active {
    background-color: var(--class-button-color);
    color: var(--class-text-color-h);
}
.tab-button.active svg{
    stroke: var(--class-text-color-h);
}

.tab-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tab-container svg{
    stroke: var(--class-text-color);
}

.classPreview-container{
    display: flex;
    width: 48%;
    min-height: 300px;
    flex-direction: column;
    max-height: 700px;
}

.preview-header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
}


.refresh-btn {
  width: 40px;
  height: 40px;
  background: none;
  border-radius: 50%;
  border: none !important;
  transition: background 0.3s ease;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Efecto al pasar el ratón */
.refresh-btn:hover {
  background: var(--class-button-color-hover);
}

/* Animación personalizada */
@keyframes spin-once {
  0% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(300deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Clase que activa la animación */
.refresh-btn svg.spin {
  animation: spin-once 0.6s linear;
}

.refresh-btn:disabled {
    opacity: 50%;
    background: none;
}


@media screen and (max-width: 1015px) {
 .courseEdit-wrapper {
    flex-direction: column;
}
.vertical-separator{
    display: none;
}
.editOptions-container {
   width: 100%;
}

.tab-info-container{
    margin-bottom: 40px;
}
.classPreview-container{
    width: 100%;
}
.curso-container{
    width: 100%!important;
margin-left: 0!important;
margin-right: 0!important;
}
}

@media screen and (max-width: 550px) {
.course-dropdown{
    width: 100%;
}
.tab-container{
    flex-direction: column;
    gap: 10px;
}

.tab-button{
    width: 100%;
    max-width: none;
}

.drop-docs-container{
    display: flex;
    flex-direction: column!important;
}

.section-header{
    font-size: 30px!important;
}
.dashboard-option-container{
padding: 20px;
}

.curso-container{
    margin-top: 50px!important;
}

.course-header-container{
    flex-direction: column;
}

.curso-container h2{
font-size: 26px!important;
margin-bottom: 20px;
}

.curso-container .portadaCurso-container{
    margin-top: 20px;
    margin-bottom: 20px;
width: 100%!important;
height: 150px;
}

.edit-input{
    width: 100%!important;
}

.dropdown-toggle{
width: 100%!important;
}
.inputPlusBtn-container {

    display: flex;
    flex-direction: column!important;
    justify-content: flex-start!important;
    align-items:unset!important;
 
}

.options-container{
  margin-top: 30px;
    gap: 0px;

}




}

